<!DOCTYPE html>
<html>
  <head>
    <title>TwitterApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      
      <input class="col-4" type="hidden">
      <a class="navbar-brand" href="/tweet">Twitter</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/tweet">Home <span class="sr-only">(current)</span></a>
          </li>
    
        </ul>
          <a class="btn btn-outline-primary my-2 my-sm-0" href="/tweet/new"> 새 글 등록하기 </a>
      </div>
    </div>
    </nav>
  
    <div class="jumbotron">
        <div class="container">
          <%= yield %>
        </div>
    </div>
   
  </body>
</html>
